body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f1f1f1;
    text-align: center;
    max-width: 30rem;
    margin: 0 auto;
    /*padding: 2rem;*/
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
}

.header {
    margin-top: 3rem;
    padding: 18px 40px 40px;
    text-align: center;
    color: #fff;
    background-color: #4050f5;
}

.header h1 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
}

.header h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
}

.calculator {
    padding: 50px 40px;
    text-align: left;
}

.slider-container {
    position: relative;
    margin-bottom: 40px;
}

.slider-container .page-views-labels {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 14px;
}

.slider-container .page-views {
    font-weight: 700;
    color: #2c2c2c;
}

.slider-container .price {
    font-weight: 700;
    color: #4050f5;
}

.slider-container .price-value {
    font-size: 36px;
    margin-right: 10px;
}

.price-value.total {
    font-size: 1rem;
}

.slider-container .price-label {
    font-size: 16px;
}

.price {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.slider-container .range {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background-color: #ddd;
    border-radius: 10px;
    outline: none;
}

.slider-container .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: 2px solid #4050f5;
    border-radius: 50%;
    cursor: pointer;
}

.slider-container .range::-moz-range-thumb {
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: 2px solid #4050f5;
    border-radius: 50%;
    cursor: pointer;
}

.switch-container {
    margin-bottom: 40px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.switch {
    display: flex;
    align-items: center;
}

.trial-container{
    display: flex;
    justify-content: space-between;
}

.trial-container ul {
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
row-gap: 0.7rem;
}

.trial-container button {
    height: 2rem;
    width: 8rem;
    align-self: flex-end;
}


.switch-container .billing-option {
    font-weight: 700;
    color: #2c2c2c;
    margin-left: 1px;
}

.billing-options {
    display: flex;
}

.billing-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    white-space: nowrap;
}



.switch-container .discount {
    font-weight: 700;
    color: red;
}

.switch-container .slider {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 34px;
    margin-left: 10px;
    margin-right: 10px;
}


.switch-container .slider input {
    display: none;
}

.switch-container .slider.round {
    border-radius: 34px;
}

.switch-container .slider.round:before {
    border-radius: 50%;
}

.switch-container .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
}

form {
    border: 1px solid red;
    /*max-width: 30rem;*/
    /*margin: 0 auto;*/
    /*padding: 2rem;*/
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.fa-check{
    color: blue;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
}

ul {
    list-style: none;
}
/*!* The slider *!*/
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}










